# Не пушить в GitHub
*.exe
*.ico
*.zip
*.7z
*.bat
*.vbs
*.spec
build/
dist/
__pycache__/
.venv/
*.pyc
nekit_program_gui.py
setup_freeze.py
setup_sfx_launcher.py
setup_launcher.py
launcher.py
sfx_launcher.py
make_sfx.py
make_icon.py
qr_discord.png
discord_check.png
discord_dl.png
discord_preview.png
discord_raw.png
icon_preview_256.png
icon_preview_dl.png
7z_extra/
7z-extra.7z
7za_x64.exe
7zr.exe
app_helper.exe
nuitka-crash-report.xml
payload_build.zip
payload_clean.zip
dist_payload.zip
build_*.txt
debug_log.txt
*.log
artifacts/
